*

!Code/
!Code/Scripts
!Code/Scripts/global
!Code/Scripts/global/*

!.config/

!.config/alacritty
!.config/alacritty/alacritty.toml
!.config/alacritty/overlay.toml

!.config/aria2
!.config/aria2/*

!.config/ansible
!.config/ansible/ansible.cfg

!.config/bpython
!.config/bpython/config

!.config/emacs/
!.config/emacs/init.el
!.config/emacs/early-init.el
!.config/emacs/snippets
!.config/emacs/snippets/**
!.config/emacs/snippets/mu4e-compose-mode
!.config/emacs/snippets/mu4e-compose-mode/*
.config/emacs/snippets/mu4e-compose-mode/work
!.config/emacs/subinits
!.config/emacs/subinits/*
.config/emacs/subinits/mu4e-setup.el
.config/emacs/subinits/custom*
!.config/emacs/themes
!.config/emacs/themes/base16-env-theme.el

!.config/fish
# config.fish is generated automatically if it's empty
.config/fish/config.fish
!.config/fish/functions
!.config/fish/functions/*
!.config/fish/completions
!.config/fish/completions/*
!.config/fish/conf.d/
!.config/fish/conf.d/*
.config/fish/conf.d/*local.fish

!.config/firejail
!.config/firejail/*

!.config/gopass
!.config/gopass/config

!.config/git
!.config/git/config

!.config/gnupg
!.config/gnupg/gpg-agent.conf

!.config/i3
!.config/i3/scripts
!.config/i3/scripts/*
.config/i3/scripts/i3insert

!.config/i3blocks
!.config/i3blocks/blocklets/
!.config/i3blocks/blocklets/*

!.config/khal
!.config/khal/config

!.config/mimeapps.list

!.config/mpd
!.config/mpd/mpd.conf

!.config/mpv
!.config/mpv/input.conf
!.config/mpv/scripts
!.config/mpv/scripts/*

!.config/ncmpcpp
.config/ncmpcpp/*
!.config/ncmpcpp/config
!.config/ncmpcpp/bindings

!.config/nvim
!.config/nvim/init.vim
!.config/nvim/autoload/
!.config/nvim/autoload/plug.vim
!.config/nvim/colors/
!.config/nvim/colors/base16-generic.vim

!.config/pacman
!.config/pacman/makepkg.conf

!.config/qutebrowser
!.config/qutebrowser/config.py

!.config/swayidle
!.config/swayidle/config

!.config/systemd
!.config/systemd/user
!.config/systemd/user/mpdscribble.service.d/
!.config/systemd/user/mpdscribble.service.d/*

!.config/xkb
!.config/xkb/custom.xkb
!.config/xkb/types
!.config/xkb/types/custom
!.config/xkb/symbols
!.config/xkb/symbols/custom

!.config/yt-dlp
!.config/yt-dlp/*

!.local

!.local/bin
!.local/bin/ansible-pass-client
!.local/bin/merge-configs
!.local/bin/mpull
!.local/bin/pacupdate
!.local/bin/playlistctl
!.local/bin/screenshot

!.local/share

!.local/share/qutebrowser
!.local/share/qutebrowser/userscripts
!.local/share/qutebrowser/userscripts/*

!.local/share/skel
!.local/share/skel/*

!.local/share/vendor-skel
!.local/share/vendor-skel/*

!.bashrc
!.gitignore
!.profile
!.XCompose
