[Desktop Entry]
Type=Application
Name=fcitx5
Comment=Start fcitx5
#OnlyShowIn=
TryExec=/usr/bin/fcitx5
Exec=fcitx5 -dr
Hidden=false
NoDisplay=false
StartupNotify=false