[Desktop Entry]
Type=Application
Name=ironbar
Comment=Start ironbar
#OnlyShowIn=
TryExec=/usr/bin/ironbar
Exec=ironbar
Hidden=false
NoDisplay=false
StartupNotify=false